title: My New Hugo Site
baseURL: http://example.org/
languageCode: en-us
enableRobotsTXT: true
paginate: 10
googleAnalytics: false

params:
  text_color: 
  author:
  favicon: 
  site_logo: 
  description: A simple template for Hugo Sites based on Bootstrap
  background_color: 
  socialMedia:
    - name: Youtube
      url: 
      icon: 
    - name: Github
      url: 
      icon: 

# All menu urls must have a different assigned weight for ordering.
menu:
  main:
    - identifier: blog
      name: Blog
      title: Blog
      url: /blog/
      weight: 100
    - identifier: about
      name: About
      title: About
      url: /about/
      weight: 200
        #  footer: true

sitemap:
  changefreq: weekly
  priority: 0.5
  filename: sitemap.xml

module:
  mounts:
    - source:           /node_modules/bootstrap/scss
      target:           assets/sass/bootstrap
    - source:           node_modules/bootstrap/dist/js/bootstrap.min.js
      target:           static/js/bootstrap.js

        #markup:
        #  goldmark:
        #    renderer:
        #      unsafe: true
