html, body { 
	margin: 0; 
	width: 100%;
	height: 100%;
} 
p {	font-size: larger;}
/*.post-date {
	color: #828282;
}*/

#navbar {
	position: sticky;
	top: 0;
	background-color: white;
}	
// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
@import "node_modules/bootstrap/scss/bootstrap.scss";
footer { 
	margin-bottom: auto;
	padding-top: 4px;
	p {	font-size: medium; }
	a { 
		text-decoration: none;
		color: #900; 
	}
}

.book-cover {
	width: 300px; 
	border: 3px solid black; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
table { margin:auto; }
h3 { text-align: center; }
img { 
	max-width: 45%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	height: auto; 
	text-align: center;
}
.pagination{
	padding-left: unset;
	justify-content: center;
}
