<!-- JavaScript Bundle with Popper -->
<!-- Look to replace this line with locally sourced -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<footer class="text-center text-lg-start bg-light text-muted">
	<section>
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<h6 class="text-uppercase fw-bold mb-4">{{ .Site.Params.companyName }}</h6>
					<p style="text-align: left">
					{{ .Site.Params.description }}
					</p>
				</div>
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- <h6 class="text-uppercase fw-bold mb-4">
						Services
					</h6> -->
					{{ range .Site.Params.services }}
					<p><a {{ with .url }}href="{{ . }}" {{ end }}>{{ .name }}</a>
					</p>
					{{ end }}
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Social Media
					</h6>
					<p>
					{{ range .Site.Params.socialMedia }}
					<p><a {{ with .url }}href="{{ . }}" {{ end }}>{{ .name }}</a>
					</p>
					{{ end }}
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Contact
					</h6>
					{{ range .Site.Params.contact }}
					<p>{{ with .url }}<a href="{{ . }}">{{ end }}{{ .info }}
					</p>{{ with .url }}</a> {{ end }}
					{{ end }}

					<p> {{ $.Site.Params.mailingAddress }}</p>
					<p>{{ $.Site.Params.phoneNumber }}</p>
				</div>
			</div>
		</div>
	</section>
</footer>
